/* DEFAULT */
* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }

:root {
	font-size: 10px;
	--background: #EAEAF0;
	--primary-color: #5178DD;
	--confirm-color: #04D361;
	--confirm-color-hover: #04DE61;
	--edit-color: #FE983C;
	--edit-color-hover: #FE8415;
	--delete-color: #EF4E4E;
	--delete-color-hover: #F13232;
}

body { background-color: var(--background); }
input, button { outline: none; }
button { cursor: pointer; background-color: transparent; }

/* HEADER */
.header {
	position: relative;
	width: 100%;
	background-color: var(--primary-color);
	padding: 5rem 0;
	transition: 0.2s padding;
}

.titles-container {
	display: flex;
	align-items: flex-end;
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
}

.titles-container h1 {
	font-size: 3.6rem;
	font-family: Montserrat, sans-serif;
	color: #FFFFFF;
	margin-right: 20px;
}

.titles-container h2 {
	font-size: 1.6rem;
	font-family: Poppins, sans-serif;
	font-weight: 400;
	color: #FFFFFF;
}

.toggle-form-visibility {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 50px;
	bottom: -2rem;
	width: 4rem;
	height: 4rem;
	font-size: 2rem;
	background-color: var(--confirm-color);
	color: #FFFFFF;
	border: 2px solid var(--confirm-color);
	border-radius: 50%;
	transform: rotate(0deg);
	transition-duration: 0.4s;
	transition-property: transform, background-color, color, border;
}
.toggle-form-visibility:hover {
	background-color: var(--confirm-color-hover);
	border-color: var(--confirm-color-hover);
}

.toggle-form-visibility.active {
	transform: rotate(45deg);
	background-color: #FFFFFF;
	color: var(--delete-color);
	border-color: var(--delete-color);
}
.toggle-form-visibility.active:hover {
	color: var(--delete-color-hover);
	border-color: var(--delete-color-hover);
}

.content { width: 90%; max-width: 700px; margin: 0 auto; }

/* FORM */
.add-new-color {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
	transform: translateY(-50%);
}

.code { width: 15%; }

.description { width: 50%; }

.input-block { display: flex; align-items: center; position: relative; }
.input-block::after {
	content: '';
	display: block;
	position: absolute;
	width: 90%;
	height: 2px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	transition-duration: 0.2s;
	transition-property: background-color;
	border-radius: 8px;
}

.input-block.active::after { background-color: var(--primary-color); }

.input-block input,
.input-block label {
	font-size: 1.8rem;
	font-family: Poppins, sans-serif;
}

.input-block input { padding: 10px; border-radius: 8px; width: 100%; }

.input-block label {
	position: absolute;
	left: 10px;
	color: #777777;
	cursor: text;
	transform: translateY(0%);
	transition-duration: 0.2s;
	transition-property: transform, font-size, color;
}

.input-block label.active {
	font-size: 0.8rem;
	font-weight: 600;
	transform: translateY(-150%);
	color: var(--primary-color);
}

.btn-add-color {
	padding: 0 20px;
	border-radius: 8px;
	background-color: var(--confirm-color);
	color: #FFFFFF;
	font-family: Poppins, sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	transition: 0.2s background-color;
}
.btn-add-color:hover { background-color: var(--confirm-color-hover); }

/* MAIN */
.item {
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 1.5rem;
	padding: 10px 15px;
	border-radius: 8px;
}

.item .form { display: flex; position: relative; }

.item [readonly] { cursor: default; }

.item input { font-family: Poppins, sans-serif; font-size: 1.6rem; }

.item input + input { font-weight: 600; color: #222222; }

.item .color { width: 3rem; height: 3rem; margin-right: 15px; }

.color-info {
	display: flex;
	align-items: center;
	width: 80%;
	margin-right: 10px;
}

.color-info input {
	border-bottom: 2px solid transparent;
	transition: 0.2s border;
}

.color-info input:not([readonly]) { border-bottom-color: #5178DD77; }

.color-info [name="hex-code"] {
	width: 15%;
	min-width: 7.5rem;
	margin-right: 10px;
}

.color-info [name="color-description"] { width: 80%; }

.color-info input:focus:not([readonly]) {
	border-bottom-color: var(--primary-color);
}

.buttons { display: flex; align-items: center; }

.buttons button {
	width: 3rem;
	height: 3rem;
	font-size: 1.5rem;
	color: #F2F2F2;
	border-radius: 8px;
	opacity: 0.8;
	transition-duration: 0.2s;
	transition-property: opacity, background-color;
}
.buttons button:hover { opacity: 1; }

.buttons .edit {
	background-color: var(--edit-color);
	margin-right: 10px;
}
.buttons .edit[data-editable="true"] {
	background-color: var(--confirm-color);
}

.buttons .delete { background-color: var(--delete-color); }

/* POPUP DELETE SCREEN */
.delete-screen {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(34, 34, 34, 0.7);
}

.delete-screen.active { display: flex; }

.delete-screen .popup {
	position: relative;
	width: 90%;
	max-width: 650px;
	background-color: var(--background);
	padding: 6rem 0;
	border-radius: 8px;
}

.delete-screen .close {
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	font-size: 2rem;
	color: #555555;
	transition: 0.2s color;
}
.delete-screen .close:hover { color: #222222; }

.delete-screen .message {
	font-family: Montserrat, sans-serif;
	font-size: 3rem;
	text-align: center;
	width: 70%;
	margin: 0 auto 3rem auto;
}

.delete-screen .item { width: 80%; margin: 0 auto; }

.delete-screen [name="description"] { width: 90%; }

.delete-screen .choice-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 4rem auto 0 auto;
}

.delete-screen .delete,
.delete-screen .cancel {
	text-transform: uppercase;
	border-radius: 8px;
	font-family: Poppins, sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
	padding: 5px 20px;
}

.delete-screen .delete {
	background-color: #FFFFFF;
	color: var(--delete-color);
	border: 2px solid var(--delete-color);
	transition: 0.2s color, border;
}
.delete-screen .delete:hover {
	color: var(--delete-color-hover);
	border-color: var(--delete-color-hover);
}

.delete-screen .cancel {
	background-color: var(--confirm-color);
	color: #FFFFFF;
	border: 2px solid var(--confirm-color);
	transition: 0.2s background-color, border;
}
.delete-screen .cancel:hover {
	border-color: var(--confirm-color-hover);
	background-color: var(--confirm-color-hover);
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
	:root { font-size: 8.5px; }

	.header.active { padding-bottom: 20rem; }

	.titles-container { display: block; }

	.toggle-form-visibility { display: flex; width: 5rem; height: 5rem; }

	.add-new-color {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "description description" "code button";
		grid-gap: 10px;
		transform: translateY(-150%);
		margin-bottom: -7rem;
		opacity: 0;
		transition: 0.2s opacity;
	}

	.add-new-color.active { opacity: 1; }

	.input-block:nth-child(1) { grid-area: code; }

	.input-block:nth-child(2) { grid-area: description; }

	.btn-add-color { grid-area: button; }

	.code, .description { width: 100%; }

	.item { margin-bottom: 3rem; }

	.item .color { width: 5rem; height: 5rem; }

	.color-info { position: relative; }

	.color-info [name="hex-code"] {
		position: absolute;
		font-size: 1.2rem;
		color: #555555;
		bottom: 0;
	}

	.color-info [name="color-description"],
	.delete-screen [name="description"] {
		position: absolute;
		top: 0;
	}

	.buttons { position: absolute; right: 0; bottom: -50%; }

	.buttons button { width: 3.5rem; height: 3.5rem; }
}